* {
  font-family: Airbnb Cereal App Medium;
}

.text-area textarea{
  resize: none;
}
.btn {
  display: inline-block;
  border: none;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn i {
  margin-right: 4px;
}
.air-logo{
  color: #fd0b0b;
  font-size: 35px;
}
div.stars {

  width: 300px;

  display: inline-block;

}

 .mt-200{
     margin-top:10px;  
 }

input.star { display: none; }

 

label.star {

  float: right;

  padding: 10px;

  font-size: 20px;

  color: #040008;

  transition: all .2s;

}

 

input.star:checked ~ label.star:before {

  content: '\f005';

  color: rgb(240, 12, 12);

  transition: all .25s;

}

 
input.star-5:checked ~ label.star:before {

  color: rgb(195, 6, 6);


  text-shadow: 0 0 20px rgb(173, 97, 39);

}

 

input.star-1:checked ~ label.star:before { color: #F62; }

    

label.star:hover { transform: rotate(-15deg) scale(1.3); }

 

label.star:before {

  content: '\f006';

  font-family: FontAwesome;

}
.container-lg{
  max-width: 98.5%;
}

.logo {
  color: red;
  margin-left: 5px;
}

.card-img-top {
  height: 313px;
  object-fit: cover;

}

.fav-icon {
  position: absolute;
  
  right: 15px;
  top: 15px;

}

.card {
  height: 100%;
  border: none;
  position: relative;

}

.card-title {
  Font-family: Messina Sans;
  Font-style: Regular;
  Font-size: 16px;
  color: #222222;
}

.card-text {
  font-family: Messina Sans;
  font-style: Regular;
  Font-size: 12px;
  color: #717171;


}

.nav-link{
  font-size: large;
}


.nav-body{
  margin-top: 50px;
}
.top-bar{
  margin-top: 30px;
  margin-bottom: 10px;
}
.Welcome{
  margin-top: 20px;
  margin-bottom: 25px;
}
.guests-container{
  margin-top: 30px;
  background-color: rgb(247, 247, 247);
  
}

/* .guests-details{
  text-align: center;
} */
.guests-text{
  text-align: center;
  width: 250px;
  margin: 2rem 8rem;
}
.reservation-details{
  margin-bottom: 30px;
}
.rev-card{
 margin-left: 5px;
  margin-right: 6px;
}
.card-body {
  height: 76px;
}
.footer-point{
  display: inline-block ;
  text-align: center ;
  width: 19px ;
  font-size: 14px ;
  line-height: 18px ;
}
.height-footer{
height: 45px;
}

.navigation_btn {
  width: 423px;
  padding-left: 12px;
  padding-right: 12px;
  height: 48px;

  border-radius: 48px;
}

.right_section_nav {
  width: 253px;
  height: 44px;
}


.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}