
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Hosting/RevStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/5b61638241.js" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>

    <title>airbnb</title>
</head>

<body>
    <!-- Start Nav -->
    <nav class="navbar navbar-expand-lg bg-white sticky-top border border-bottom" style="height: 70px;">
        <!-- Start div tha t contain the items in nav -->
        <div class="container-lg   d-flex flex-row justify-content-between ">
            <!-- Start Logo -->
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-airbnb air-logo"></i>
            </div>
            <!-- End Logo -->
            <!-- Start Search -->
            <div class="d-flex align-items-center ">
                <div class="container-fluid ">

                    <div href="#" class="bg-white  d-flex align-items-center justify-content-between rounded-pill navigation_btn">

                        <a href="#" class="w3-bar-item w3-button w3-hover rounded-pill">Today</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover rounded-pill">Inbox</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover rounded-pill">Cleander</a>
                        <a href="#" class="w3-bar-item w3-button w3-hover rounded-pill">Insights</a>

                    </div>
                    </a>
                </div>


            </div>
            <!-- End Search -->
            <!-- Start person -->

            <div class="d-flex">


                <div class="ml-auto p-2">
                    <img src="./SVG/middle.svg">
                </div>
            </div>

            <!-- End person -->
        </div>
        <!-- End div tha t contain the items in nav -->
    </nav>
    <!-- End Nav -->
    <!-- start page content -->

    <div class="container">




        <!--start top bar Details-->
        <div class="d-flex flex-row justify-content-between top-bar">
            <i class="fa-solid fa-chevron-left"></i>
            <div class="row">
                <div class="col col-lg-auto rounded border border-1 border-dark rev-card">
                    <button class="btn">
                        <i class="fa-solid fa-sliders"></i> Filter
                    </button>
                </div>
                <div class="col col-lg-auto rounded border border-1 border-dark rev-card">
                    <button class="btn">
                        Export <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="col col-lg-auto rounded border border-1 border-dark rev-card">
                    <button class="btn">
                        Print
                    </button>
                </div>





            </div>

        </div>
    </div>
    <!--end top bar Details-->
    <!--Start Reservations Details-->

    <div class="container">
        <h1 class="modal-title Welcome">Reservations</h1>
        <!--Start NavBar Details-->
        <nav class="navbar navbar-expand-lg navbar-light ">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Upcoming <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Canceled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--End NavBar Details-->
    <!--End Reservations Details-->
    <!--start guests Details-->
    <div class="card text-center nav-body">
        <div class="card-body">
            <h3 class="fw-bold">You have no upcoming reservations</h3>

            <a href="#" class="fw-bold">See all reservations</a>
        </div>
    </div>
    <!--end guests Details-->
    <!-- <div class="container">
    <div class="row">
      <div class="reserv col">
         <div class="res">
          <div class="res-detail">
            Checking out
          </div>
         </div>
      </div>
      <div class="reserv col">
        <div class="res">
         <div class="res-detail">
           Hello
         </div>
        </div>
     </div>
     <div class="reserv col">
      <div class="res">
       <div class="res-detail">
         Current
       </div>
      </div>
    </div>
    <div class="reserv col">
      <div class="res">
       <div class="res-detail">
         Hello
       </div>
      </div>
    </div>
    <div class="reserv col">
      <div class="res">
       <div class="res-detail">
         Hello
       </div>
      </div>
    </div>
    </div>
    </div> -->
    <!--end Reservations Details-->
    <!-- <div class="container-lg">
    <div class="modal-header">
      <h4 class="modal-title">Write a Review</h4>

    </div>
    <div class="modal-body">
      <form>
        <textarea rows="5"
                  class="form-control"
                  placeholder="Write about your experience in this place"
                  id="text"
                  name="text"
                  ></textarea>
                  <div class="container d-flex justify-content-center mt-200">


                    <div class="row">

                      <div class="col-md-12">

                        <div class="stars">

                      <form action="">

                        <input class="star star-5" id="star-5" type="radio" name="star"/>

                        <label class="star star-5" for="star-5"></label>

                        <input class="star star-4" id="star-4" type="radio" name="star"/>

                        <label class="star star-4" for="star-4"></label>

                        <input class="star star-3" id="star-3" type="radio" name="star"/>

                        <label class="star star-3" for="star-3"></label>

                        <input class="star star-2" id="star-2" type="radio" name="star"/>

                        <label class="star star-2" for="star-2"></label>

                        <input class="star star-1" id="star-1" type="radio" name="star"/>

                        <label class="star star-1" for="star-1"></label>

                      </form>

                    </div>



                      </div>


                    </div>

                    </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-bwm">Confirm</button>
      <button type="button" class="btn btn-bwm">Close</button>
    </div>


    </div> -->
    <!-- end page content -->
    <!-- Start footer -->
    <footer class="footer bg-white border-top py-3 ">
        <div class="container-lg ">

            <div class="row d-flex  height-footer">
                <div class="   d-flex  col-lg-6 ">
                    <ul class="list-inline d-flex justify-content-start ">
                        <li class=" d-flex ">&copy;2023 Airbnb, Inc.<span class="footer-point">.</span></li>
                        <li class=" d-flex ">
                            <a href="#" class="text-decoration-none text-black">Privacy</a><span class="footer-point">.</span>
                        </li>
                        <li class="d-flex ">
                            <a href="#" class="text-decoration-none text-black">Terms</a><span class="footer-point">.</span>
                        </li>
                        <li class="d-flex ">
                            <a href="#" class="text-decoration-none text-black">Sitemap</a><span class="footer-point">.</span>
                        </li>
                        <li class="d-flex ">
                            <a href="#" class="text-decoration-none text-black">Company details</a><span class="footer-point">.</span>
                        </li>
                        <li class=" d-flex "><a href="#" class="text-decoration-none text-black">Destinations</a></li>

                    </ul>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <ul class="list-inline d-flex">
                        <li class="d-flex  ">
                            <a href="#" class="d-flex align-items-center text-decoration-none text-black">
                                <img src="./SVG/globe.svg">English (IN)
                            </a><span class="footer-point"></span>
                        </li>
                        <li class="d-flex  ">
                            <a href="#"
                               class="d-flex align-items-center text-decoration-none text-black">INR</a><span class="footer-point"></span>
                        </li>
                        <li class="d-flex  ">
                            <a href="#" class="d-flex align-items-center text-decoration-none text-black">
                                Support&
                                resources <img src="./SVG/Group.svg">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- End footer -->
</body>

</html>
