* {
  font-family: Airbnb Cereal App Medium;
}

.container-lg{
  max-width: 94%;
}

.logo {
  color: red;
  margin-left: 5px;
}

.card-img-top {
  height: 313px;
  object-fit: cover;

}

.fav-icon {
  position: absolute;
  
  right: 15px;
  top: 15px;

}

.card {
  height: 100%;
  border: none;
  position: relative;

}

.card-title {
  Font-family: Messina Sans;
  Font-style: Regular;
  Font-size: 16px;
  color: #222222;
}

.card-text {
  font-family: Messina Sans;
  font-style: Regular;
  Font-size: 12px;
  color: #717171;


}

.card-body {
  height: 76px;
}
.footer-point{
  display: inline-block ;
  text-align: center ;
  width: 19px ;
  font-size: 14px ;
  line-height: 18px ;
}
.height-footer{
height: 45px;
}

.navigation_btn {
  width: 423px;
  padding-left: 12px;
  padding-right: 12px;
  height: 48px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 48px;
}

.right_section_nav {
  width: 253px;
  height: 44px;
}


@media screen and (max-width: 1050px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex;
    align-items: center;
    
  }
  .navigation_btn_mobile {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 48px;
    width: 300px;
    padding-left: 12px;
    padding-right: 12px;
    height: 48px;
  }
  .main-footer{
    width: max-content;
  } 
}

@media screen and (min-width: 1050px) {
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width:800px) {
  .small-mobile {
    display: none;
  }
  .navigation_btn_mobile {
   
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 48px;
    width: 400px;
    padding-left: 12px;
    padding-right: 12px;
    height: 48px;
  }
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -90px;
    margin-top: var(--bs-dropdown-spacer);
}
